.inspector {
  table {
    border-collapse: collapse;
    width: 100%;
    th, td {
      border: 1px solid black;
    }
    td:first-child {
      width: 40%;
    }
    td:not(:first-child) {
      text-align: center;
    }
  }

  .info {
    grid-column: 2;
    grid-row: 1;
  }

  img {
    width: 90%;
    padding: 8px;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 1;
  }

  &.wide {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
}
